<div class="w-100 h-[100vh] bg-zinc-600 flex flex-col gap-5 justify-center items-center">
    <form class="px-10 py-8 rounded-md border border-spacing-3 bg-zinc-700 text-white" action="/task/edit/{{task.id}}" method="POST">
        <h2 class="text-center text-xl py-4">Update task Status</h2>

        <h3 class="text-red-500" >Note : You can only able to update the status of the Task.</h3>

        {{#if users}}
        <!-- User Selection Dropdown -->
        <label class="block mb-3">
            <span class="text-sm">User</span>
            <select name="user_id" id="user_id" class="w-full p-2 rounded-lg bg-zinc-600 text-white outline-none" required disabled>
                <!-- Loop through each user and add them as options -->
                {{#each users}}
                    <option value="{{this.id}}" {{#ifEquals task.user_id this.id}}selected{{/ifEquals}}>Id:{{this.id}} | {{this.name}}</option>
                {{/each}}
            </select>
        </label>
        {{else}}
        <p class="text-center text-red-500">No users are available to assign tasks.</p>
        {{/if}}

        <!-- Task Name -->
        <label class="block mb-3">
            <span class="text-sm">Task Name</span>
            <input type="text" name="task_name" id="task_name" class="w-full p-2 rounded-lg bg-zinc-600 text-white outline-none" value="{{task.task_name}}" required disabled />
        </label>

        <!-- Task Type -->
        <label class="block mb-5">
            <span class="text-sm">Task Type</span>
            <select name="task_type" id="task_type" class="w-full p-2 rounded-lg bg-zinc-600 text-white outline-none" required>
                <option value="Pending" {{#ifEquals task.task_type "Pending"}}selected{{/ifEquals}}>Pending</option>
                <option value="Done" {{#ifEquals task.task_type "Done"}}selected{{/ifEquals}}>Done</option>
            </select>
        </label>

        <!-- Submit Button -->
        <div class="flex justify-center">
            <button type="submit" class="px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 transition">
                Save Changes
            </button>
        </div>

    </form>
        <!-- Back Button -->
        <button onclick="window.history.back()" class="text-white font-bold border border-white rounded-lg px-4 py-2 mt-6 hover:scale-110 hover:text-black transition transform">
            <img class="w-6 h-6" src="https://img.icons8.com/?size=100&id=26194&format=png&color=ffffff" alt="Back">
        </button>
</div>
