<header class="w-full h-[10vh] bg-zinc-700">
    <div class="flex justify-between items-center px-2">
        <div class="flex flex-col justify-center items-center px-2 w-16">
            <a href="/dashboard">
               <img src="https://img.icons8.com/?size=65&id=112355&format=png&color=ffffff" alt="">
            </a>
            <h1 class="ml-2 text-white text-center">User's-Task</h1>
        </div>
        <div class="absolute right-0 w-32 flex justify-center items-center p-2">
            <a href="/logout" class="text-white font-bold border bg-red-500 rounded-lg px-4 py-2 hover:bg-white hover:text-black transition">
                Logout
            </a>
        </div>
    </div>
</header>

<div class="w-full">
    <div class="w-full h-[90vh] bg-zinc-800">
        <div class="flex flex-col px-10 py-4">
            <h1 class="text-3xl text-center text-white">All tasks</h1>
            <a href="/task/addtask" class="px-4 w-[5.15%] py-2 bg-green-500 text-white rounded-md">Add task</a>
        </div>

        <div class="px-10 py-4">
            {{#if employees.length}}
                <table class="table-auto w-full bg-white rounded-md">
                    <thead>
                        <tr class="bg-gray-700 text-white">
                            <th class="px-4 py-2">Unique ID</th>
                            <th class="px-4 py-2">Name</th>
                            <th class="px-4 py-2">Email</th>
                            <th class="px-4 py-2">Mobile No</th>
                            <th class="px-4 py-2">Designation</th>
                            <th class="px-4 py-2">Gender</th>
                            <th class="px-4 py-2">Course</th>
                            <th class="px-4 py-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employees}}
                            <tr class="bg-gray-100">
                                <td class="border px-4 py-2 text-center">{{this.eId}}</td>
                                <td class="border px-4 py-2 text-center">{{this.name}}</td>
                                <td class="border px-4 py-2 text-center">{{this.email}}</td>
                                <td class="border px-4 py-2 text-center">{{this.mobile}}</td>
                                <td class="border px-4 py-2 text-center">{{this.designation}}</td>
                                <td class="border px-4 py-2 text-center">{{this.gender}}</td>
                                <td class="border px-4 py-2 text-center">{{join this.course ', '}}</td>
                                <td class="border py-2">
                                    <div class="flex justify-center">
                                        <a href="#" class="text-blue-500 mx-1">Edit</a>
                                        &nbsp;|&nbsp;
                                        <a href="#" class="text-blue-500 mx-1">Payroll</a>
                                        &nbsp;|&nbsp;
                                        <a href="#" class="text-blue-500 mx-1">Attendance</a>
                                        &nbsp;|&nbsp;
                                        <a href="#" class="text-red-500">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{else}}
                <p class="text-white">No tasks found. Please add a new task.</p>
            {{/if}}
        </div>
    </div>
</div>
